[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = ">=6.0"
prompt-toolkit = ">=2.0.0"

[dev-packages]
skiddie = {editable = true, path = "."}

[requires]
python_version = "3.5"
