[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==6.7"
prompt-toolkit = "==3.0.5"
skiddie = {editable = true, path = "."}

[dev-packages]
skiddie = {editable = true, path = "."}

[requires]
python_version = "3.8"
